
.login {
  background: linear-gradient(to bottom right, #111827, #1f2937, #6b21a8);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container {
  height:450px;
  width:450px;
  background-color: #1e293b;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  
  
}
.buttonSign {


 width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 45px;
  margin-top: 28px;
  background: linear-gradient(to right, #2563eb, #9333ea);
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.email input ,.password input ,.username input {
  width: 94%;
  height: 40px;
  background: transparent;
  border-radius: 10px;
  margin-top: 7px;
  color: #9ca3af;
  border: 1px solid #60a5fa;
  font-size: 15px;
  
}
.email label, .password label , .username label {
  color: #e1e5ebc1; 
  font-size: 17px;
  
  
}
.email, .password , .username {
  margin-top: 20px;
  margin-left: 20px;
}
.secure {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.welcome {
  margin-top: 0px;
  text-align: center;
  color: #9ca3af; 
  font-size: 17px;
}
a {
  text-decoration: none;
  color: #3b82f6;
}
.account {
  color: #9ca3af;
  text-align: center;
}
.container2 {
  height:550px;
  width:450px;
  background-color: #1e293b;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  
  
}
.home{
  background: linear-gradient(to bottom right, #111827, #1f2937, #6b21a8);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}
.home p {
  color: #9ca3af;
  font-size: 20px;
  margin-bottom: 30px;
}
.buttonHome {
  background: linear-gradient(to right, #2563eb, #9333ea);
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  width: 200px;
  height: 45px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}